
header {
    padding: 20px 0;
}
.menu{
	float: none;
	padding: 13px 0;
}
nav>ul{
	text-align: center;
}
nav>ul>li{
	float: none;
	display: inline-block;
}
.drop{
	text-align: left;
}
h1 {
    float: none;
    text-align: center;
}
.list_tabs li a{
	height: 20px;
	width: 20px;
}
@media screen and (max-width: 840px){
	.list p {
		font-size: 38px;
		line-height: 48px;
	}
}
@media screen and (max-width: 810px){
	.list p {
		font-size: 36px;
		line-height: 46px;
	}
}
@media screen and (max-width: 780px){
	.list p {
		font-size: 34px;
		line-height: 44px;
	}
}
@media screen and (max-width: 750px){
	.list p {
		font-size: 32px;
		line-height: 42px;
	}
}
@media screen and (max-width: 720px){
	.list p {
		font-size: 30px;
		line-height: 40px;
	}
}
.options{
    padding: 30px 0 0;
}
.block {
	margin: 0;
    padding: 0 4% 30px;
    width: 50%;
}
.block p {
    text-align: justify;
    font-size: 14px;
}
.block a{
	font-size: 14px;
}
#main{
	padding: 20px 0;
}
#main h2 {
    margin: 0 15% 16px 4%;
}
#main .box p{
	text-align: justify;
	margin-bottom: 10px;
}
.jcarousel li {
	margin-right: 33px;
}
.jcarousel-control-prev, 
.jcarousel-control-next{
	right: 70px;
	height: 25px;
	width: 25px;
	font-size: 24px;
	line-height: 25px;
}
.jcarousel-control-next{
	right: 30px;
}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover{
	line-height: 22px;
}
.partner {
    margin: 19px 4% 20px;
}
td a img {
    height: auto;
    width: 80%;
}
.download{
	margin: 0 4%;
	padding: 20px 3%;
}
.download .box {
    width: 100%;
}
.download .box p{
	margin-bottom: 10px;
}
footer {
    padding: 20px 4%;
}
.footer-top {
    margin-bottom: 5px;
}
.footer-top .unit{
	width: 21%;
	margin-right: 1%;
}
.footer-top .unit p {
    margin: 10px 0 15px;
}
.footer-top .about {
    width: 100%;
    margin-bottom: 10px;
}
.footer-top .connect{
	width: 33%;
}
.footer-bottom .unit {
    width: 65%;
}
.footer-bottom{
	margin: 10px 0;
}
/*portfolio*/
.portfolio{
	padding: 20px 0 0;
}
.content {
    margin: 0 4%;
    padding-top: 0;
}
.image, .image:nth-of-type(4n){
	margin: 0 3% 20px 0;
	width: 31%;
}
.image:nth-of-type(3n) {
    margin-right: 0;
}
/*contuct us*/
#main.communications {
    margin: 0 4%;
}
#main.communications .content {
    width: 50%;
}
.animation{
	width: 80%;
}
#area{
	height: 0;
	-webkit-transition: all 0.7s linear;
	-moz-transition: all 0.7s linear;
	-ms-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;
	transition: all 0.7s linear;
}
#area:hover, #area:focus{
	height: 160px;
}
aside {
    width: 42%;
}
.map {
    margin-bottom: 20px;
    width: 100%;
}
iframe {
    height: auto;
    width: 100%;
}
aside .box{
	width: 100%;
	margin: 0;
}